// NAV
.nav-container {
    position: absolute;
    padding: 4rem;
    top: 0;
    left: 0;

    .nav-icon {
        background-color: $white-color;
        position: absolute;
        right: 4rem;
        top: 2.5rem;
        z-index: 10;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        cursor: pointer;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .bar1, .bar2, .bar3 {
            width: 17px;
            height: 2px;
            margin: 4px 0;
            transition: 0.4s;
            background-color: $primary-color-2;
            border-radius: 1rem;
        }

        .bar2 {
            width: 27px;
            transform-origin: right;
        }
    }

    .nav-main {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background-color: $primary-color-2;
        transform: translateX(-100%);
        transform-origin: left;
        transition: transform .5s;

        .logo {
            padding: 4rem;
        }

        &__content {
            width: 95vw;
            position: absolute;
            top: 12rem;
            // left: 4rem;
            z-index: 2;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
            grid-gap: 4rem;
            padding: 4rem;
            color: $white-color;
            overflow: hidden;

            @include rwd(768) {
                padding: 0 4rem 0 4rem;
            }

            &--box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                min-height: 25rem;

                .social-links {
                    display: flex;
                    flex-direction: column;
                    &--box {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 2.2rem;
                            height: 1.7rem;
                        }
                    }
                    &--box:nth-child(2) {
                        margin-top: 1rem;
                    }
                }
                .resume {
                    font-size: 3.5rem;
                    text-decoration: none;
                    letter-spacing: -1px;
                    color: $white-color;
                    font-family: $tertiary-font;
                    align-self: flex-start;
                    transition: all .2s ease-in-out;
                    &:hover {
                        letter-spacing: 3px;
                    }
                }
            }

            .list {
                justify-self: flex-start;
                &__item {
                    list-style: none;
                    &:not(:last-child) {
                        margin-bottom: 3.5rem;
                    }
                    a {
                        text-transform: uppercase;
                        font-size: 2.5rem;
                        text-decoration: none;
                        color: $white-color;
                        font-family: $tertiary-font;
                        letter-spacing: .5px;
                        transition: all .2s ease-in-out;
                        &:hover {
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }
}


// ANIMATIONS
.nav-main.moveIn {
    transform: translateX(0);
}

.nav-anim .bar1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}
  
.nav-anim .bar2 {
    transform: translateX(200%);
    opacity: 0;
}
  
.nav-anim .bar3 {
    transform: rotate(45deg) translate(-7px, -8px);
}