.resume {
    position: relative;
    top: 15rem;
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 2rem;

    &__heading {
        color: $primary-color-1;
        font-size: 5rem;
        font-family: $secondary-font;
        line-height: 1.4;

        span {
            display: block;
            margin: -8px 0;
        }
    }

    &__subheading {
        font-size: 1.6rem;
        color: $grey-color;
        font-family: $primary-font;
        font-weight: normal;
        margin: 3rem 0;
        letter-spacing: .4px;
        max-width: 70rem;               
    }

    &__download {
        display: inline-block;
        position: relative;
        padding-left: 2rem;
        color: $primary-color-1;

        &::before {
            content: "\f15c";
            position: absolute;
            top: 0;
            left: 0;
        }

        span {
            border-bottom: 3px solid $tertiary-color;
        }
    }
}