.resume {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 35px;
    font-size: 1.25rem;

    .content-text {
        color: hsl(215, 12%, 32%);
        font-size: 1.54rem;
        max-width: 63rem;
        line-height: 1.6;
    }

    &__header {
        display: flex;
        margin-bottom: 5rem;

        a {
            margin-left: auto;
        }
    }

    &__main-content {
        display: grid;
        grid-template-columns: 25rem 1fr;
        padding: 0;
        margin: 0;
        max-width: 100%;
        
        @include rwd(768) {
            grid-template-columns: 1fr;
        }

        .sidebar {
            grid-column: 1/2;
            grid-row: span 2;
            display: flex;
            flex-direction: column;

            @include rwd(768) {
                grid-column: 1/1;
                grid-row: 2/3;
                flex-direction: row;
                justify-content: space-around;

                div:not(:first-child) {
                    padding-left: 40px;
                }
            }

            div {
                margin-bottom: 3.5rem;
            }

            a {
                font-family: $secondary-font;
                color: $primary-color-1;
                letter-spacing: .2px;
                display: inline-block;
                margin-bottom: .28rem;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    width: 100%;
                    background-color: $tertiary-color;
                    transform: translateY(-2px);
                    z-index: -1;
                }
            }

            p {
                margin-bottom: .28rem;
                font-family: $tertiary-font;
                color: hsl(215, 14%, 34%);
            }

            h4 {
                font-family: $secondary-font;
                margin-bottom: .5rem;
                color: $primary-color-1;
                letter-spacing: .1px;
                font-size: 1.5rem;
            }

            ul {
                list-style: none;
            }

            li {
                font-size: 1.25rem;
                margin-bottom: .37rem;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 45%;
                    left: -12px;
                    transform: translateY(-45%);
                    height: 7px;
                    width: 7px;
                    background-color: hsl(213, 6%, 37%);
                }
            }
        }

        .top-content {
            grid-column: 2/3;
            grid-row: 1/2;
            padding: 1rem 5rem;
            position: relative;

            @include rwd(768) {
                grid-column: 1/1;
                grid-row: 1/2;
            }

            .heading {
                color: $primary-color-1;
                font-size: 5.2rem;
                font-family: $secondary-font;
                line-height: 1.2;

                span {
                    display: block;
                    margin: -8px 0;
                }
            }

            .subheading {
                font-size: 2rem;
                color: hsl(213, 5%, 35%);
                font-family: $tertiary-font;
                margin: 1.8rem 0 3.2rem;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 70px;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: hsl(215, 12%, 32%);
            }
        }

        .other-content {
            background-color: yellow;
            grid-column: 2/3;
            grid-row: 2/3;

            @include rwd(768) {
                grid-column: 1/1;
                grid-row: 3/4;
            }
        }
    }
}