.center-item {
    display: grid;
    place-items: center;
}

.margin-top-medium {
    margin-top: 50px;
}

.w-700 {
    max-width: 700px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

%logoShared {
    font-family: $logo-font;
    font-size: 25px;
    letter-spacing: -.6px;

    &:hover {
        opacity: .8;
    }
}

%layoutShared {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@mixin rwd($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}

@mixin rwdHeight($screen) {
    @media (max-height: $screen+'px') {
        @content;
    }
}